<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head"); %>
    <style>
        .page{
            margin:auto;
            width: 60%;
        }
        p{
            font-size: 1.2rem;
            text-align: justify;
        }
    </style>
    <body>
        <div class="header">
            <%- include("./partials/header"); %>
        </div>
        <div class="page">
            <h2>About Vehicle@Park</h2>
            <p>
                As we talked about, during earlier lectures, throughout the course of this semester 
                you’ll build a working application on the MEAN stack, called Vehicle@Park. <br><br>

                Vehicle@Park registers the presence of a vehicle at a single click and lists all the 
                vehicles of employees at Park. It will provide a quick searching vehicle feature and
                also displays reports, vehicle entry and outgoing times on daily, weekly or monthly 
                basis. <br><br>

                The application Vehicle@Park will also have administration features.
                To begin this journey of building a working MEAN stack application, you are required 
                to prepare a very basic application requirements document along with application 
                plan at a high level as your first assignment.
                <br><br>
                <i>
                    <strong>Note:</strong> This is absolutely a course instructor’s idea bases on his own real experience of daily 
                    vehicle parking observation, not restricted to follow, you can bring your own idea for 
                    developing a real- world working application that facilitates the society by any means.
                </i>
            </p>
        </div>
        <div class="footer">
           <%- include("./partials/footer") %>
        </div>
    </body>

</html>